.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@media only screen and (max-width: 800px) {
  .cart-dropdown {
    width: 100%;
    top: 90px;
    right: 0;
  }
}
.cart-dropdown .empty-message {
  font-size: 18px;
  margin: 50px auto;
}
.cart-dropdown .cart-items {
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.cart-dropdown button {
  margin-top: auto;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
